 

.form {
    background-color:#004953 ;
 display: flex;
flex-direction: column; 
  align-items: center;
  justify-items: center;
}

/* .nameForm{
    width: max-content;
} */

.nameInput,.emailInput,.message{
width: 100%;color: blanchedalmond;font-size: 0.9rem;
}
.nameInput:hover,.emailInput:hover,.message:hover{
width: 100%;color: blanchedalmond;
}
 
.message{
    height: 30vh;
    background-color: #538b99;
    color: blanchedalmond;
    text-align: center;
    font-size: 0.9rem;

}