
 

.chart,
.compare,
.calc,
.table {
  background-color: #004953;
}

.chart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .inputTooltip{
  background-color: red;
} */

.compare,
.calc {
  display: flex;
  align-items: center;
  justify-items: center;
  font-size: 2rem;
  padding-bottom: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  width: 60rem;
  background-color: #004953;
}
