@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,400;1,700;1,900&display=swap");

:root {
  --bg-color: #004953;
  --bg2-color: #14667a;
  --text-color: #fefefe;
  --text3-color: blanchedalmond;
  --text2-color: #538b99;
  --disabled-color: #3c6671;
  --annotations-color: #f5a519;
  --active-color: #05b7fb;
  --text-shadow: 0.3px 0.3px 0.3px #021b1e;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  background: var(--bg-color);
  font-size: calc(10px + 0.390625vw);
  overflow: hidden;
  scrollbar-width: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Lato", sans-serif;
  text-shadow: var(--text-shadow);
}

table {
  width: 100%;
  margin-top: 20px;
  background-color: var(--bg2-color);
  border: 1px solid var(--text2-color);
  border-radius: 5px;
}
th {
  color: var(--text2-color);
  font-size: 0.8rem;
  text-transform: uppercase;
}

td {
  border: 1px solid var(--text2-color);
  padding: 5px;
  font-size: 0.9rem;
  text-align: center;
}

input {
  background: var(--bg2-color);
  width: 20%;
  height: 2rem;
  border-radius: 6px;
  border: 1px solid var(--text2-color);
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  color: var(--text3-color);
  font-size: 0.9rem;
  text-align: center;
  font-weight: 700;
}

input:first-child {
  color: var(--active-color);
}
input:nth-of-type(3) {
  color: var(--active-color);
}

input:hover {
  color: var(--text2-color);
  background-color: var(--annotations-color);
  font-weight: 700;
}

button {
  width: 20%;
  height: 2rem;
  background: var(--annotations-color);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: var(--text3-color);
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 800;
  outline: 0;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

button:hover {
  color: var(--annotations-color);
  background-color: var(--bg2-color);
}

.button-24:hover,
.button-24:active {
  background-color: initial;
  background-position: 0 0;
  color: #ff4742;
}

.button-24:active {
  opacity: 0.5;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--bg2-color);
  text-align: center;
}

label {
  color: var(--bg2-color);
  font-size: 1rem;
  font-weight: 900;
  margin: 10px;
}

/* navbar */
