:root {
  --bg-color: #004953;
  --bg2-color: #14667a;
  --text-color: #fefefe;
  --text2-color: #538b99;
  --disabled-color: #3c6671;
  --annotations-color: #f5a519;
  --active-color: #05b7fb;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  background: var(--bg-color);
  font-size: calc(10px + 0.390625vw);
  overflow: hidden;
  scrollbar-width: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

table {
  width: 100%;
  background-color: var(--bg2-color);
  border: 1px solid var(--text2-color);
  border-radius: 5px;
}
th {
  color: var(--text2-color);
  font-size: 0.8rem;
  text-transform: uppercase;
}

td {
  border: 1px solid var(--text2-color);
  padding: 5px;
  font-size: 0.9rem;
  text-align: center;
}

input {
  background: var(--bg2-color);
  width: 20%;
  height: 2rem;border-radius: 6px;
  border: 0;border: 1px solid var(--text2-color);
 box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;

}

button {
  width: 20%;
  height: 2rem;
  background: var(--annotations-color);
 border: 0;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: var(--text-color);
  cursor: pointer;
  display: inline-block;
  
  font-size: 16px;
  font-weight: 800;
  /* line-height: 16px;
  min-height: 40px; */
  outline: 0;
  /* padding: 12px 14px; */
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-24:hover,
.button-24:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.button-24:active {
  opacity: .5;
}
 

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--bg2-color);

  text-align: center;
}

/* #icon{
 background-color: red;
 
  } */