:root {
  --bg-color: #004953;
  --bg2-color: #14667a;
  --text-color: #fefefe;
  --text2-color: #538b99;
  --disabled-color: #3c6671;
  --annotations-color: #f5a519;
  --active-color: #05b7fb;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  padding: 0;
  margin: 0;

  background: var(--bg-color);
  font-size: calc(10px + 0.390625vw);
  overflow: hidden;
  scrollbar-width: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.MuiInputBase-root {
  background: var(--bg2-color);
  width: 7.5rem;
}

.MuiButton-root {
  width: 7.5rem;
  background: var(--annotations-color);
}

.MuiInputLabel-root {
  color: var(--bg-color);
}

.MuiInputLabel-shrink {
  color: var(--annotations-color);
  margin-top: -10px;
}

.Mui-focused:hover {
  background: var(--annotations-color);
}

.MuiSvgIcon-root {
  color: var(--bg-color);
  font-size: 1.5vw;
}

.MuiTabPanel-root {
  margin-top: 2vh;
  padding: 1vh 0;
}

.MuiTabs-flexContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.MuiDataGrid-root {
  overflow: hidden;
  color: #538b99;
  border-color: #538b99;
}

.MuiButton-root {
  color: var(--bg2-color);
  background-color: var(--annotations-color);
  font-weight: 700;
}

.MuiTooltip-tooltip {
  background-color: var(--bg2-color);
   
  color: var(--bg-color);
  font-size: medium;
  font-weight: 700;
  border: 1px solid var(--bg-color);
  box-shadow: rgba(0, 0, 0, 0.16) 1px 2px 4px;
}

table {
  width: 100%;
  background-color: var(--bg2-color);
  border: 1px solid var(--text2-color);
  border-radius: 5px;
}
th {
  color: var(--text2-color);
  text-transform: uppercase;
}

td {
  border: 1px solid var(--text2-color);
  padding: 5px;
  text-align: center;
}
